<div style="padding: 20px;" >
    <div  class="lesson">
        <div>
          <h1 >درس : الإصطياد بالمباغتة </h1>
        </div>
    </div>
               
             
                      
                    
                
                 
                   
                     


  <!-- ////////////////////////////////////// -->
  <br>
  <div class="dives" *ngIf="!state">
    <button class="butt" (click)="show()">أنظر إلى الإصلاح</button>
  </div>
  <br><br>
  <!-- //////////////////////////////////////////////////////////////////////// -->
  <div *ngIf="state">
  
      <div class="esla7">
        <h2 class="h2" (click)="show()">الإصلاح</h2>
      </div>
    

</div>
      
    
      
<br>
    <div class="suiv">
        <button class="b1" (click)="Previous()">الدرس السابق</button>
        <button class="b2" (click)="Next()">الدرس التالي</button>
      </div>

</div>

