<div>
<div><h1 class="h1">درس: السلسلة الغذائية</h1></div>

<div class="lesson" style="text-align: right;">
  <p>أكمل بما يناسب: العاشبة /البيئي / الكالشة/النبات/الكائنات الحية /العاشبة/الأولى /مستهلكة /اللاحمة/بقائها .</p>
</div>

<div class="lesson" style="text-align: right; margin-right: 30px;">
  <p>السلسلة الغذائية هي مجموعة من <input type="text" [(ngModel)]="input1"> يتغذى بعضها على بعض فتضمن <input type="text" [(ngModel)]="input2"> وتحقق التوازن <input type="text" [(ngModel)]="input3">. يمثل <input type="text" [(ngModel)]="input4"> أولى حلقات السلسلة الغذائية ويسمى منتج وهو مصدر غذائي أول للحيوانات.</p>
  <p>الحيوانات <input type="text" [(ngModel)]="input5"> هي حيوانات <input type="text" [(ngModel)]="input6"> من الدرجة <input type="text" [(ngModel)]="input7">.</p>
  <p>الحيوانات <input type="text" [(ngModel)]="input8"> و <input type="text" [(ngModel)]="input9"> هي حيوانات مستهلكة من الدرجة الثانية وهي تتغذى على الحيوانات <input type="text" [(ngModel)]="input10">.</p>
  <button (click)="submitAnswers()">Submit</button>
</div>
</div>


<div>
  <div><h1 class="h1">درس:الإصطياد بالمطاردة</h1></div>
  <div class="lesson" style="text-align: right;">

    <p>رَتِّبْ مَرَاحِلَ الإِصْطَيَادِ بِالْمُطَارَدَةِ </p>

  </div>
  <div class="hunt-steps" style="text-align: right; margin-right: 30px;">
    <p><input type="number" style="width: 30px;" [(ngModel)]="step1"> - الفتك بالفريسة</p>
    <p><input type="number" style="width: 30px;" [(ngModel)]="step2"> - البحث عن الفريسة</p>
    <p><input type="number" style="width: 30px;" [(ngModel)]="step3"> - القَبْضُ عَلَى الفريسة</p>
    <p><input type="number" style="width: 30px;" [(ngModel)]="step4"> - اقْتِفَاء أَثر الفريسة والاقتراب مِنْهَا</p>
    <button (click)="logSteps1()">Afficher le résultat</button>
  </div>


  <div class="lesson" style="text-align: right;">

   <p>رتب مَرَاحِلَ اسْتِهْلَاكِ الْحَيَوَانِ الْمُطَارِدِ</p>

  </div>
  <div class="hunt-steps" style="text-align: right; margin-right: 30px;">
    <p><input type="number" style="width: 30px;" [(ngModel)]="step5"> - يبتلع تلك القطع</p>
    <p><input type="number" style="width: 30px;" [(ngModel)]="step6"> - يُمَزِّقُ الفريسة</p>
    <p><input type="number" style="width: 30px;" [(ngModel)]="step7"> - يَقْصُّ لَحْمَ الفَرِيسَةِ قِطَعًا صَغِيرَةً</p>
    <button (click)="logSteps2()">Afficher le résultat</button>
  </div>
</div>


<div>
  <div class="lesson" style="text-align: right; ">
    <p> اكتب تحت كل صورة كيفية إستهلاك كل حيوان لفريسته</p>
  </div>
  <div class="animal" style="text-align: right;" >
    <img src="assets/image.png" alt="Animal 1"  width="100" height="100">
   <input type="text" [(ngModel)]="inputimg1">


    <img src="assets/img2.jpg" alt="Animal 2" width="100" height="100">
    <input type="text" [(ngModel)]="inputimg2">


    <img src="assets/img3.jpg" alt="Animal 3" width="100" height="100">
    <input type="text" [(ngModel)]="inputimg3">
    <div style=" margin-top: 20px;">
      <button (click)="logResults()">Afficher le résultat</button>
    </div>

</div>

</div>




<div>
  <div>
    <h1 class="h1">درس : الإصطياد بالمباغتة </h1>
  </div>
  <div class="hunt-steps" style="text-align: right; margin-right: 30px;">
    <p> تمرين عدد1:
      كيف تمكنت الضفدعة من الحصول
      عَلَى غِذَائِهَا ؟</p>
      <img src="assets/dhefde3a.jpg" alt="4" width="200px" height="200px">
    <input type="text" name="" id="" [(ngModel)]="inputdhefde3a">
    <div style=" margin-top: 20px;">
      <button (click)="logdhefde3a()">Afficher le résultat</button>
    </div>
  </div>


  <div class="hunt-steps" style="text-align: right; margin-right: 30px;">
   <p>
    تمرين عدد 2:
هي الطَّرِيقَةُ الَّتِي يَسْتَعْمِلُهَا الثَّعْبَانُ لِيَسْتَهْلِكَ عَذَاءَهُ ؟
   </p>

    <input type="text" name="" id="" [(ngModel)]="logdtho3ben">
    <div style=" margin-top: 20px;">
      <button (click)="logdtho3benR()">Afficher le résultat</button>
    </div>
  </div>



  <div class="hunt-steps" style="text-align: right; margin-right: 30px;">
   <p>تمرين عدد3:
    أربطَ بَيْنَ الْأَعْضَاءِ الْمُسْتَعْمَلَةِ عِنْدَ الحَبارِ لِلْحُصُولِ عَلَى عَذَائِهِ وَوَظِيفَتِهَا .</p>

    <div style=" margin-top: 20px;">
      <button (click)="logdhefde3a()">Afficher le résultat</button>
    </div>
  </div>
</div>






