
.lesson {
  font-family: "Comic Sans MS", cursive, sans-serif;


  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.lesson p {
  margin: 10px 0;
}

.h1
{
  text-align: center;
  color: aqua;
}


.hunt-steps p {
  margin: 10px 0;
}

.hunt-steps input[type="text"] {
  width: 300px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.hunt-steps button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.hunt-steps button:hover {
  background-color: #45a049;
}


